@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.root {
    cursor: pointer;
    position: relative;
    background-color: $white;
    padding: 10px 14px;
    font-size: 12px;

    &:hover {
        background-color: #F1F1F1;
    }
}
