@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.copyright {
    display: flex;
    justify-content: center;
    color: $black;
    font-size: 12px;
}
