@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.authLoginByPhone {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    .description {
        margin: 15px 0 30px;
    }

    .submit {
        margin-top: 35px;
    }

    .phone {
        display: flex;

        .code {

        }

        .number {
            flex: 1;
        }
    }
}
