$black: #000000;
$black_90: #1F1F1F;

$white: #ffffff;

$green: #1bc47d;

$blue: #419FD9;
$blue_10: #E1F2FC;

$red: #F04D42;
$red_10: #FBDFE1;

$grey: #999999;
$grey_30: #dedede;
$grey_20: #E7EBF0;

$primary: $blue;
$secondary: $green;
$success: $green;
$error: $red;

$bg_color: $white;
$bg_color_dark: #0F0F0F;

$text_color: $black;
$text_color_dark: $grey_20;

$border_color: $grey_30;
