@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.segment {
    border: 1px solid $border_color;
    background-color: $white;
    border-radius: $radius;
}
