@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.modal {
    position: fixed;
    z-index: $zIndexModal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .overlay {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.6);
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 2;
    }
}

:global(.transition-modal-appear).modal {
    opacity: 0;
}

:global(.transition-modal-appear-active).modal {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

:global(.transition-modal-exit).modal {
    opacity: 0;
    transition: 0.3s ease-in-out;
}
