@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.root {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    &.saved {
        background-color: #65AADD;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}
