@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

:global(.transition-context-menu) {
    transform-origin: 0 0;
}

:global(.transition-context-menu-enter) :global(.transition-context-menu) {
    transform: scale(0);
}

:global(.transition-context-menu-enter-active) :global(.transition-context-menu) {
    transform: scale(1);
    transition: 0.15s ease-in-out;
}

:global(.transition-context-menu-exit) :global(.transition-context-menu) {
    transform: scale(0);
    transition: 0.15s ease-in-out;
}
