@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.authLayout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: $grey_20;
    }

    .footer {
        padding: 15px 10px;
        background-color: $grey_50;
    }
}
