@import '~@styles/variables/colors.module.scss';
@import '~@styles/variables/shared.module.scss';

.phoneSelectValueContainer {
    font-family: $font;
    font-weight: normal;
    font-size: 13px;
    padding: 10px 0 6px;
    margin: 0;

    > div {
        margin: 0;
        padding: 0;
    }

    &.withValue {
        padding-left: 28px;
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 0;
        width: 21px;
        height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 1px solid transparent;

        &.default {
            background-image: url('~@images/icons/earth.svg');
            border-color: $border_color;
        }
    }
}


